<!--<div class="container-fluid view">

    <div class="container-fluid text-center" style="">
        <br />
        <br />
        <div style="margin-bottom:-10px; text-align:left">
            <img src="/info/assets/teamtask.png" style="height:100px; margin-top:-35px" />
        </div>
        <div class="row" style="text-align:center">
            <h1 style="font-family: 'Raleway', sans-serif; color: rgb(255, 176,70); text-shadow: -1px 0 black, 1 1px black, 1px 0 black, 1 -1px black; "></h1>
        </div>


        <object type="text/html" data="https://docs.google.com/spreadsheets/d/1ePeNmcrW9y7v776X_eXwFg2xRyPHIXh2LFyrShgcOlM/edit?usp=sharing" width="1700px" height="720px" class="panel "></object>



    </div>
</div>-->
